header {
    background-color: rgb(7, 54, 66);
    color: rgb(131,148,150);
}

body {
    background-color: rgb(0, 43, 54);
}

main {
    color: rgb(131,148,150);
}

footer {
    background-color: rgb(7, 54, 66);
    color: rgb(131,148,150);
}